
.idea/vcs.xml
.idea/.name
.idea/compiler.xml
.idea/discord.xml
.idea/jarRepositories.xml
.idea/libraries/UltraRegions_1_5_4.xml
.idea/libraries/UltraRegions_1_5_41.xml
.idea/misc.xml
.idea/Ultra-Regions-Addon-Base.iml
.idea/workspace.xml
